/*Video*/
iframe{
    aspect-ratio: 16/9;
    border: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
/*Thank You, Richard*/

/*Video and Image Flex*/
.MediaFlex{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

/*Image and Text Flex*/
.RecipeFlex{
    display: flex;
    flex-direction: column;
}

/*Image Sizing*/
.RecipeFlex img {
    width: 400px;
    aspect-ratio: 16/9;
    border-radius: 24px;
}
/*Thank You, Richard*/

/*Ingredients Styling*/
ul{
    list-style-type: square;
}

hr{
    width: 100%;
    height: auto;
}

/*Steps Styling*/
ol{
    list-style-type: upper-roman;
}

/*making things fit in place*/
.imgflex{
    object-fit: cover;
}

.flex-col {
    display: flex;
    flex-direction: column;

}

.w-full {
    width: 100%;
}

.aspect-video {
    aspect-ratio: 16/9;
}
/*thanks for all the help, Richard*/