iframe{
    aspect-ratio: 16/9;
    border: none;
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
}
/*Thank You, Richard*/


.MediaFlex{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 24px;
}

.RecipeFlex{
    display: flex;
    flex-direction: column;
}

.RecipeFlex img {
    width: 400px;
    aspect-ratio: 16/9;
    border-radius: 24px;
}
/*Thank You, Richard*/

ul{
    list-style-type: square;
}

hr{
    width: 100%;
    height: auto;
}